html {
  height: 100%; }
  html body {
    height: 100%; }
    html body #login-container {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center; }
      html body #login-container .card-title {
        position: relative; }
        html body #login-container .card-title small {
          position: absolute;
          bottom: -1rem;
          right: 5rem;
          color: red; }
