html {
    height: 100%;

    body {
        height: 100%;

        #login-container {
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .card-title {
                position: relative;

                small {
                    position: absolute;
                    bottom: -1rem;
                    right: 5rem;
                    color: red;
                }
            }
        }

        #navbar-section {
            margin-bottom: 2rem;
        }

        #form-alet-card {
            #AlertType {
                max-width: 12rem;
            }
        }

        .alert-comment {
            margin-bottom: 0;
            padding: 8px 10px;
            font-size: 0.8em;
            border-radius: 1rem;
        }

        .comment-footer {
            margin-bottom: 20px;
        }

        .alert-type{
            max-width: 150px;
        }
    }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
